.breadCrumbWrapper {
    width: 100%;
    height: auto;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.breadcrumb2 {
    background: none !important;
    padding: 0px !important;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #3bb77e;
    text-decoration: none !important;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #3bb77e;
    text-decoration: underline;
}


.detailsContainer {
    max-width: 95%;
    padding: 30px 0px;
}

.detailsPage .productInfo {
    padding-left: 50px;
}


.detailsPage .productInfo h1 {
    font-size: 40px;
    font-weight: bold;
    opacity: .8;
}

.detailsPage .productInfo .priceSec .priceLarge {
    font-size: 35px;
    font-weight: bold;
}

.detailsPage .productInfo .priceSec .text-org {
    font-size: 20px;
    font-weight: 600;
}

.detailsPage .productInfo .priceSec .text-light.oldPrice {
    font-size: 25px;
    font-weight: 400;
    text-decoration: line-through;
}




.productZoom {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 20px;
    padding: 0px;
    overflow: hidden;
}

.zoomSliderBig {
    width: 100% !important;
}

.zoomSlider {
    padding-top: 30px;
}

.zoomSlider * {
    outline: none !important;
}

.zoomSlider .slick-slide {
    padding-right: 8px !important;
}

.zoomSlider .slick-slide .item {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid transparent !important;
    cursor: pointer;
}

.zoomSlider .slick-current .item {
    border: 1px solid #3bb77e !important;

}

.detailsPage .zoomSlider .slick-arrow {
    zoom: 55% !important;
    top: 60% !important;
}

.zoomSlider .slick-arrow.slick-prev {
    left: -5% !important;
}

.zoomSlider .slick-arrow.slick-next {
    right: -5% !important;
}




.productSize {
    width: 100%;
    height: auto;
    padding: 25px 0;
}

.productSize ul li {
    margin-right: 15px !important;
}

.productSize ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px !important;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 16px !important;
    transition: all .1s ease-in-out;
}

.productSize ul li a.active {
    background: #3bb77e !important;
    color: #fff !important;
}





.addCartSection {
    width: 100%;
    height: auto;
}

.addCartSection .countSection {
    width: 100px;
    height: 60px;
    border: 1px solid #3bb77e !important;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.addCartSection .countSection input {
    width: 60px;
    height: 40px;
    padding: 5px;
    outline: none !important;
    border: 0px;
    text-align: center;
}


.addCartSection .countSection {
    position: relative;
}

.addCartSection .countSection .arrow {
    position: absolute;
    cursor: pointer;
    opacity: .5;
}

.addCartSection .countSection .arrow.up {
    top: -2px;
    right: 10px;
}

.addCartSection .countSection .arrow.down {
    bottom: -2px;
    right: 10px;
}

.addCartSection .btn-top {
    margin-top: 0px !important;
    /* font-size: 14px !important; */
}

.addToCartIcon svg {
    font-size: 28px !important;
}

.addCartSection button {
    height: 60px;
    min-width: inherit !important;
}

.addCartSection button svg {
    font-size: 30px !important;
}

.opacity {
    opacity: 1 !important;
}



/* Hide the spin buttons in WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}




.detailsPageTabs {
    border-radius: 25px !important;
}


.customTabs ul li {
    margin-right: 15px !important;
}

.customTabs ul li button {
    padding: 10px 20px !important;
    border: 1px solid rgba(0, 0, 0, .1) !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    border-radius: 30px !important;
    color: #000 !important;
    opacity: .7 !important;
    outline: none !important;
    position: relative;
    transition: all .3s ease-in-out;
}


.customTabs ul li button.active{
    color: #3BB77E !important;
}

.tabContent .product-more-information {
    margin-top: 10px;
    padding: 0 0 0px 14px;
    list-style-type: circle !important;
}


.tabContent .product-more-information li {
    /* text-decoration: dotted; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 10px;
    position: relative;
}

.tabContent .product-more-information li span {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 165px;
    flex: 0 0 165px;
    display: inline-block;
}



.vendor-logo img {
    max-width: 150px;
}

.contact-infor {
    font-size: 15px;
    color: #253D4E;
    list-style: none;
}

.tabContent .vendor-name {
    text-decoration: none;
}

.contact-infor li:not(:last-child) {
    margin-bottom: 10px;
}

.font-xs {
    font-size: 16px;
}


.text-brand {
    color: #3BB77E !important;
}


.font-small,
.text-muted {
    font-size: 12px;
    opacity: .8;
}

table {
    border-collapse: collapse;
    width: 100%;
}


/* reviews section */


.card {
    border-radius: 10px !important;
}

.reviewsCard{
    margin-bottom: 20px !important;
}

.reviewsCard .image {
    width: 100px;
}

.reviewsCard .rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.reviewsCard .rounded-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.reviewForm .form-group{
    margin-bottom: 20px;
}

.reviewForm .form-group textarea.form-control{
    height: 180px;
    padding-top: 25px;
}
.reviewForm .form-group .form-control{
    padding-left: 20px;
    height: 60px;
    font-size: 20px;
    border-radius: 7px !important;
}


.relatedProducts .item{
    padding: 15px 5px;
    padding-right: 25px !important;
}